
@{
    ViewBag.Title = "PayValide";
}



<section class="payValide">
    <p class="pValide">Félicitations ! Votre paiement a été validé avec succès.</p>
    <p class="pValide">Vous allez pouvoire retrouver votre billet en cliquant sur: </p>
    <p><b><u>@Html.ActionLink("Mon compte", "Index", "Manage")</u></b></p>
    <p class="pValide">Merci pour votre confiance</p>
</section>