@{
    ViewBag.Title = "Home Page";
}

<section id="lookPlay">
    <div class="voirJeux">
        <h1>Venir voir <br />les jeux</h1>
        <div class="voirJeuxP">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="publicImg">
        <img id="public" src="~/Content/image/public.png" alt="public"  />
    </div>
</section>

<section id="gallery">
    <h1>épreuves <br />des jeux</h1>
    <div class="imgGallery">
        <div class="inner">
            <img src="~/Content/image/epreuve/0.png" alt="" />
            <img src="~/Content/image/epreuve/1.png" alt="" />
            <img src="~/Content/image/epreuve/2.png" alt="" />
            <img src="~/Content/image/epreuve/3.png" alt="" />
            <img src="~/Content/image/epreuve/4.png" alt="" />
            <img src="~/Content/image/epreuve/5.png" alt="" />
            <img src="~/Content/image/epreuve/6.png" alt="" />
            <img src="~/Content/image/epreuve/7.png" alt="" />
            <img src="~/Content/image/epreuve/8.png" alt="" />
            <img src="~/Content/image/epreuve/9.png" alt="" />
        </div>
        <div id="fade"></div>
    </div>
</section>

<section id="formula">
    <h1>Billetterie <br />des jeux</h1>
    <div class="formula">
        <div class="card-group">
            <div class="card">
                <img src="~/Content/image/formule/Solo.png" alt="" />
                <div class="layer"></div>
                <div class="info">
                    <h3>Formule solo</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Esse dolorem incidunt cumque magnam obcaecati consectetur.
                    </p>
                    <button class="btn">voire plus</button>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/image/formule/duo.png" alt="" />
                <div class="layer"></div>
                <div class="info">
                    <h3>Formule Duo</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Esse dolorem incidunt cumque magnam obcaecati consectetur.
                    </p>
                    <button class="btn">voire plus</button>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/image/formule/famille.png" alt="" />
                <div class="layer"></div>
                <div class="info">
                    <h3>Formule Famille</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Esse dolorem incidunt cumque magnam obcaecati consectetur.
                    </p>
                    <button class="btn">voire plus</button>
                </div>
            </div>
        </div>
    </div>
</section>

