@model IEnumerable<JeuxOlympique.Models.panier>

@{
    ViewBag.Title = "Payer";
}



<h2>Paiement</h2>

<table class="table marginTop tablePay">
    <tr>
        <th>
            @Html.Label("", "Montant Total de la commande")
        </th>
    </tr>

    <tr>
        <td data-label="Total de la commande">
            @{
                decimal Total = 0;
                foreach (JeuxOlympique.Models.panier item in Model)
                {
                    Total += item.Quantite * item.Offre.Prix;
                }
            }
            @Total
        </td>
    </tr>
</table>

<form class="credit-card">
    <div class="form-header">
        <h4 class="title">Carte de crédit</h4>
    </div>

    <div class="form-body">

        <input type="text" class="card-number" placeholder="Card Number">

        <div class="date-field">
            <div class="month">
                <select name="Month">
                    <option value="january">01</option>
                    <option value="february">02</option>
                    <option value="march">03</option>
                    <option value="april">04</option>
                    <option value="may">05</option>
                    <option value="june">06</option>
                    <option value="july">07</option>
                    <option value="august">08</option>
                    <option value="september">09</option>
                    <option value="october">10</option>
                    <option value="november">11</option>
                    <option value="december">13</option>
                </select>
            </div>
            <div class="year">
                <select name="Year">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
        </div>

        <div class="card-verification">
            <div class="cvv-input">
                <input type="text" placeholder="CVV">
            </div>
            <div class="cvv-details">
                <p> Detail CVV</p>
            </div>
        </div>
        <button type="submit" class="proceed-btn">valider</button>

    </div>
</form>


<section class="payValide">
    <p class="pValide">Félicitations ! Votre paiement a été validé avec succès.</p>
    <p class="pValide">Vous allez pouvoire retrouver votre billet en cliquant sur <b><u>@Html.ActionLink("Mon compte", "Index", "Manage")</u></b></p>
    <p class="pValide">Merci pour votre confiance</p>
</section>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        var proceedBtn = document.querySelector('.proceed-btn');
        proceedBtn.addEventListener('click', function () {
            // Afficher la section payValide
            var payValideSection = document.querySelector('.payValide');
            payValideSection.style.display = 'flex';

            // Attendre 5 secondes avant de rediriger vers la page index
            setTimeout(function () {
                window.location.href = '/Manage/Index';
            }, 5000);
        });
    });

    // Supprestion du panier

    //document.addEventListener('DOMContentLoaded', function () {
    //    var proceedBtn = document.querySelector('.proceed-btn');
    //    proceedBtn.addEventListener('click', function () {
    //        // Création d'une requête HTTP POST
    //        var xhr = new XMLHttpRequest();
    //        xhr.open('POST', '/Panier/ViderPanier', true); // L'URL doit être ajustée en fonction de votre route réelle

    //        // Configuration de l'en-tête de la requête
    //        xhr.setRequestHeader('Content-Type', 'application/json');

    //        // Gestionnaire de succès de la requête
    //        xhr.onload = function () {
    //            if (xhr.status === 200) {
    //                console.log('Panier vidé avec succès');
    //                // Vous pouvez effectuer d'autres actions ici si nécessaire, par exemple, rediriger l'utilisateur
    //                window.location.href = '/Panier/Index'; // Rediriger vers la page de panier vide
    //            } else {
    //                console.error('Erreur lors de la suppression du panier : ' + xhr.statusText);
    //            }
    //        };

    //        // Gestionnaire d'erreur de la requête
    //        xhr.onerror = function () {
    //            console.error('Erreur lors de la suppression du panier');
    //        };

    //        // Envoyer la requête avec des données JSON vide
    //        xhr.send(JSON.stringify({}));
    //    });
    //});
</script>
